#animatoreTuristico, #sviluppoFE {
    color: #0000ff;
    font-weight: bold;
}

#lifeAnimation, #lutech {
    font-family: cursive;
    font-weight: bold;
}

.datiAlternanzaScuolaLavoro, .datiFELutech {
    padding: 10px;
}

